In [1]:
import pandas as pd
df = pd.read_csv('netflix.csv')

In [7]:
df.groupby('genre').size()
df.groupby('genre').min(numeric_only=True)

                 runtime  score
genre
Comedy                30    3.7
Documentary           16    4.1
Drama                 17    4.1
Romantic comedy       85    4.1
Thriller              81    2.6

In [10]:
df.groupby('genre')['score'].mean()

genre
Comedy             5.518182
Documentary        6.941250
Drama              6.267797
Romantic comedy    5.722222
Thriller           5.687097
Name: score, dtype: float64

In [15]:
df['year'] = pd.to_datetime(df['release']).dt.year

In [25]:
df.groupby(['year', 'genre']).mean(numeric_only=True).loc[2020]
df.groupby(['year', 'genre']).mean(numeric_only=True).loc[(df['year'].unique(), 'Drama'), :]

               runtime     score
year genre
2020 Drama  103.000000  6.055556
2021 Drama  110.500000  6.533333
2019 Drama  107.857143  6.335714

In [27]:
# agg로 다양한 통계값 구하기

df.groupby('genre')['score'].agg(['mean', 'max', 'min'])
df.groupby('genre').agg({'score':'mean', 'runtime':['min', 'max']})

                    score runtime
                     mean     min  max
genre
Comedy           5.518182      30  139
Documentary      6.941250      16  144
Drama            6.267797      17  151
Romantic comedy  5.722222      85  131
Thriller         5.687097      81  149