In [1]:
import pandas as pd

In [4]:
airbnb_df = pd.read_csv('airbnb.csv')
airbnb_df.head()

,id,state,location,guests,beds,property_type,n_reviews,rating,price
0,BF1406,Illinois,"Avondale, Chicago.",2,1,Apartment,55.0,96.0,48
1,DB7921,MASSACHUSETTS,"South End, Boston.",4,1,Apartment,0.0,NaN,115
2,OZ5857,ILLINOIS,"Avondale, Chicago.",4,3,Apartment,51.0,99.0,150
3,HY8797,california,"SoMa, San Francisco.",2,1,Apartment,4.0,74.0,125
4,VN7858,massachusetts,"West Roxbury, Boston.",2,1,House,23.0,86.0,64

In [8]:
# 대문자 만들기
airbnb_df['state'].str.upper()

# 앞글자만 대문자로
airbnb_df['state'].str.capitalize()

0           Illinois
1      Massachusetts
2           Illinois
3         California
4      Massachusetts
           ...
708       California
709       California
710       California
711         Illinois
712    Massachusetts
Name: state, Length: 713, dtype: object

In [ ]:
# 쉼표기준으로 쪼개기

airbnb_df['neighborhood'] = airbnb_df['location'].str.split(',').str[0]
airbnb_df['city'] = airbnb_df['location'].str.split(',').str[1]

In [19]:
airbnb_df['city'] = airbnb_df['city'].str.strip()
airbnb_df['city'].str.replace('.','', regex=False)

0            Chicago
1             Boston
2            Chicago
3      San Francisco
4             Boston
           ...
708      Los Angeles
709      Los Angeles
710      Los Angeles
711          Chicago
712           Boston
Name: city, Length: 713, dtype: object